package {{base_package}}.util;

import {{base_package}}.{{main_class_name}};
import net.minecraft.resources.ResourceLocation;
import net.minecraft.tags.BlockTags;
import net.minecraft.tags.ItemTags;
import net.minecraft.tags.TagKey;
import net.minecraft.world.item.Item;
import net.minecraft.world.level.block.Block;

// ==MM:EXTRA_IMPORTS_BEGIN==
// ==MM:EXTRA_IMPORTS_END==

public class ModTags {
    public static class Blocks {

        // ==MM:BLOCK_TAG_KEYS_BEGIN==
        // Examples:
        // public static final TagKey<Block> EXAMPLE_ORES = createTag("example_ores");
        // public static final TagKey<Block> EXAMPLE_STORAGE_BLOCKS = createTag("example_storage_blocks");
        // ==MM:BLOCK_TAG_KEYS_END==

        private static TagKey<Block> createTag(String name) {
            return BlockTags.create(ResourceLocation.fromNamespaceAndPath({{main_class_name}}.MOD_ID, name));
        }
    }

    public static class Items {

        // ==MM:ITEM_TAG_KEYS_BEGIN==
        // Examples:
        // public static final TagKey<Item> TRANSFORMABLE_ITEMS = createTag("transformable_items");
        // public static final TagKey<Item> EXAMPLE_INGOTS = createTag("example_ingots");
        // ==MM:ITEM_TAG_KEYS_END==

        private static TagKey<Item> createTag(String name) {
            return ItemTags.create(ResourceLocation.fromNamespaceAndPath({{main_class_name}}.MOD_ID, name));
        }
    }
}
