package {{base_package}}.item;

import net.minecraft.world.food.FoodProperties;
import net.minecraft.world.effect.MobEffectInstance;
import net.minecraft.world.effect.MobEffects;

// ==MM:EXTRA_IMPORTS_BEGIN==
// ==MM:EXTRA_IMPORTS_END==

public class ModFoodProperties {

    // ==MM:FOOD_PROPERTIES_EXAMPLES_BEGIN==
    // Examples:
    // public static final FoodProperties EXAMPLE_VEGGIE = new FoodProperties.Builder()
    //         .nutrition(3)
    //         .saturationModifier(0.25f)
    //         .effect(() -> new MobEffectInstance(MobEffects.HEALTH_BOOST, 400), 0.35f)
    //         .build();
    // ==MM:FOOD_PROPERTIES_EXAMPLES_END==
    
    // ==MM:FOOD_PROPERTIES_BEGIN==
    // ==MM:FOOD_PROPERTIES_END==

}
